numpy
scipy
flask
RPi.GPIO
ninja
PyGObject
rpimotorlib
rpi-lgpio
libsvm
mem_top

bee_track @ git+https://github.com/SheffieldMLtracking/bee_track.git 
retrodetect @ git+https://github.com/lionfish0/retrodetect.git
QueueBuffer @ git+https://github.com/lionfish0/QueueBuffer.git

psutil==5.*
Flask-Cors==4.*
Flask-Compress==1.*
spidev==3.*
requests==2.*
